<%= render 'shared/audio' %>

<div class="row">
  <div class="text-up">
    <p>Представьте, что Вы путешествуете в лодке по тихой глади водоёма, созерцая окружающую красоту и великолепие природы.  Иногда останавливаетесь, чтобы увековечить незабываемые мгновения в виде фото. И тут Вы понимаете, что всё проходит, да не всё забывается.</p>
    <p>Мы предлагаем Вам получить удовольствие от ловли рыбы с опытными рыбаками, насладиться вкусом отменной ухи, бесподобных шашлыков и чашечкой превосходного ароматного кофе, приготовленного на костре. Встретить новый день на берегу водоёма под нежными лучами солнца, пение птиц и всплески рыбы.</p>
    <p>Наши услуги - это не платная рыбалка. Это плата за отдых на природе, связанный с обучением рыбной ловле опытными рыбаками, и просто хорошее настроение.</p>
  </div>
</div>

<div class="row">
      <div id="slider1_container" class="img_container">
        <div u="slides" class="slides_img">
          <%= render 'shared/slides' %>
        </div>
        <div u="thumbnavigator" class="thumb_container">
          <div u="slides" class="slides_thumb">
            <div u="prototype" class="prototype_thumb">
                <div u="thumbnailtemplate">
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
  <div class="text-down">
    <p>Наши <%= link_to('фото', photos_url) %> и <%= link_to('видео', videos_url) %> галереии.</p>
    <p>Вашему вниманию мы предлагаем:</p>
    <p><%= link_to('Рыбалка одного дня', day_url) %> - очень удобна для выезда по водоёмам в черте города Киева. Они не так обильны по уловам рыб,  но вполне подходят для практического обучения и отдыха;</p>
    <p><%= link_to('Рыбалка выходного дня', weekend_url) %> - выезд в живописные и богатые рыбой места, такие как: <%= link_to('Стайки', stayki_url) %> (70 км от города Киева), <%= link_to('Коробовка', korobovka_url) %> (180 км от города Киева).</p>

    <%= render 'shared/contacts' %>
    <%= render 'shared/social' %>
  </div>
</div>
