<% provide(:title, 'Редактирование профиля') %>

<div class="row">

  <div class="text-head">
    <h4>Изменить данные профиля <%= @user.name %></h4>
  </div>

  <div class="col-md-6 col-md-offset-5">                                      
    <%= gravatar_for @user %>                                      
    <a href="http://gravatar.com/emails" target=_blank>Изменить</a>
  </div>                                                           

  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= render 'fields', f: f %>

      <%= f.submit "Сохранить изминения", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<div class="row">                                             
  <div class="text-link">                                     
      <h5><%= link_to 'Назад', users_url, method: :get %></h5>
  </div>                                                      
</div>                                                
