<% provide(:title, 'Все пользователи') %>

<div class="row">           
  <nav>                     
    <ul class="navigation"> 
    <% if logged_in? %>                                       
      <li><%= link_to "Выйти", logout_url, method: "delete" %></li>
      <li><%= link_to "Фото", photos_url %></li>              
      <li><%= link_to "Видео", videos_url %></li>             
      <li><%= link_to current_user.name, current_user %></li>               
    <% end %>                  
    </ul>                   
  </nav>                    
</div>                      

<div class="text-head">                             
  <h4>Пользователи</h4>
</div>                                              

<ul class="users">
  <%= render @users %>
</ul>

<div class="row">                       
  <div class="text-link">
    <%= will_paginate %>                
  </div>                                
</div>                                  
