<%= provide(:title, "Видео") %>

<div class="row">
  <nav>
    <ul class="navigation">
    <% if logged_in? %>        
      <li><%= link_to "Выйти", logout_url, method: "delete" %></li>
      <li><%= link_to "Фото", photos_url %></li> 
      <% if current_user.admin? %>
        <li><%= link_to "Добавить видео", new_video_url %></li>
      <% end %>
      <li><%= link_to current_user.name, current_user %></li> 
    <% end %>                                 
    </ul>
  </nav>
</div>

<div class="row">
  <div class="videos">
    <% if @videos.any? %>
      <% @videos.in_groups_of(2) do |group| %>
          <% group.each do |video| %>
            <% if video %>
              <div class="col-md-6">
                <div class="yt_video thumbnail">
                  <%=  content_tag(:iframe, nil, src: "http://www.youtube.com/embed/#{video.video_id}", allowfullscreen: true, rameborder: 0) %>
                    <div class="caption">
                      <div class="title">
                        <h6><%= video.title %></h6>
                      </div>
                      <table class="text">
                        <tr>
                          <td>
                            Продолжительность: <b><%= video.duration %></b>
                          </td>
                          <td class="rightstr">
                            <span class="glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                            <span class="glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                          </td>
                        </tr>
                      </table>
                      <div class="title">
                        <% if logged_in? && current_user.admin? %>
                        <%= link_to "Удалить", video, method: :delete, data: { confirm: "Вы уверены ?" } %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="text-link">
    <%= will_paginate @data, previous_label: "Назад",next_label: "Вперёд" %>  
  </div>
</div>

<%= render 'shared/back' %>

<div class="row">
  <div class="text-down">
    <%= render 'shared/social' %>
  </div>
</div>
