<%= provide(:title, "Добавить видео") %>

<h4>Добавить новое видео</h4>

<%= form_for @video do |f| %>
<%= render 'shared/errors', object: @video %>

<div class="form-group">
  <%= f.text_field :link, class: 'form-control', required: true %>
  <span class="help-block">Ссылка на видео YouTube.</span>
</div>

  <%= f.submit class: 'btn btn-default' %>
<% end %>
