<%= provide(:title, "Добавить видео") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Добавить новое видео</h4>
    <%= form_for(@video) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= render 'fields', f: f %>

      <%= f.submit "Добавить видео", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">            
  <div class="text-link">                             
      <h5><%= link_to 'Назад', videos_url, method: :get %></h5>
  </div>                                
</div>
