<%= provide(:title, "Фото") %>

<div class="row">
  <nav>
    <ul class="navigation">
    <% if logged_in? %>    
      <li><%= link_to "Выйти", logout_url, method: "delete" %></li>
      <li><%= link_to "Видео", videos_url %></li>  
      <% if current_user.admin? %>
        <li><%= link_to "Добавить фото", new_photo_url %></li>  
      <% end %>
      <li><%= link_to current_user.name, current_user %></li>     
    <% end %>               
    </ul>
  </nav>
</div>

<div class="row">
  <div class="photos">
    <% if @photos.any? %>
      <% @photos.in_groups_of(2) do |group| %>
          <% group.each do |photo| %>
            <% if photo %>
              <div class="col-md-6">
                <div class="fk_photo thumbnail">
                  <%= link_to (image_tag photo.photo_url), photo %>
                    <div class="caption">
                      <div class="title">
                        <h6><%= photo.title %></h6>
                      </div>
                      <div class="title">
                        <h6><%= photo.description %></h6>
                       </div>
                            <% if logged_in? && current_user.admin? %>
                            <div class="title">
                            <%= link_to "Удалить", photo, method: :delete, data: { confirm: "Вы уверены ?" } %> |
                            <%= link_to "Редактировать", edit_photo_url(photo) %>
                            </div>
                          <% end %>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="text-link">
    <%= will_paginate @data, previous_label: "Назад",next_label: "Вперёд" %>  
  </div>
</div>

<%= render 'shared/back' %>

<div class="row">
  <div class="text-down">
    <%= render 'shared/social' %>
  </div>
</div>

