<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyB1tliM_KYLRYw4jMTg5GnVCSxwrOCoAFc&sensor=true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/shim' %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
